# Variáveis para o container do Postgres (Desenvolvimento)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

# --------------------------------------------------
# Configurações Padrões
FRONTEND_URL=https://seu-site.com.br

PORT=3000
NODE_ENV=development
STORAGE_PROVIDER=local

# --------------------------------------------------
# Configuração do banco de dados no Prisma
DATABASE_URL="postgresql://postgres:password@db:5432/mydb?schema=public"

# --------------------------------------------------
# Configurações de JWT
JWT_ACCESS_SECRET="sua_chave_secreta_de_acesso_muito_segura"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="sua_chave_secreta_de_refresh_super_segura"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REFRESH_COOKIE_EXPIRES_IN=7

COOKIE_SECRET="sua_chave_secreta_de_cookie"

# --------------------------------------------------
# Configurações de provedor de envio de emails
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=seu_email_no_brevo@exemplo.com
SMTP_PASS=sua_chave_smtp_gerada_no_painel
EMAIL_FROM="API Template <email-cadastrado-no-provedor-de-envio-de-email@mail.com>"

# --------------------------------------------------
# Configurações de placeholder nos templates de email
COMPANY_NAME="Sua Empresa Ltda"
SYSTEM_NAME="Sistema de Gestão"
EMAIL_HEADER_TITLE="Sistema de Template"

# --------------------------------------------------
# Configurações de apenas caso seja Storage Cloud
STORAGE_PROVIDER=cloud
CLOUDFRONT_URL=https://cdn.suaempresa.com
# ou se usar o S3 direto:
AWS_BUCKET_URL=https://meu-bucket-producao.s3.sa-east-1.amazonaws.com